<form action="registrarPersona" method="POST">
    <label for="">Nombre</label>
    <input type="text" name="nombre" placeholder="Nombre">
    <label for="">Edad</label>
    <input type="text" name="edad" placeholder="Edad">
    <label for="">Correo</label>
    <input type="text" name="correo" placeholder="Correo">
    <button type="submit">Enviar</button>
</form>